
<body>
  <header class="page-header">
    <div class="page-wrapper grid-flex v-align-middle grid-title">
            <div class="column">
              <h1 class="logo"><a href="{{ site.baseurl }}/">METHOD RADAR</a></h1>
            </div>
            <div class="column">
                {% include search.html %}
            </div>

            <div class="column text-right">
              <ul class="list-social">
                <li><a href="http://intia.de/" class="link-facebook" target="_blank"><i class="fas fa-link" aria-label="hidden"></i></a></li>
                <li><a href="https://github.com/th-koeln-intia/methods-radar" class="" target="_blank"><i class="fab fa-github" aria-label="hidden"></i></a></li>
                <li><a href="mailto:intia@th-koeln.de" class="link-mail" target="_blank"><i class="fa fa-envelope" aria-label="hidden"></i></a></li>
              </ul>
            </div>
    </div>
  </header>
